{% extends "base.html" %}

{% block header %}

    <h3 class="text-center page-titles title-margin">Sorry! This page doesn't exists!</h3>

{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-lg-6 mx-auto">
                <img class="img-fluid" src="../static/images/error_page_img.jpg" alt="500 error page image">
            </div>
        </div>
    </div>

    <div class="row">
        <a href="{{ url_for('get_posts') }}"  class="btn waves-effect waves-light" aria-label="Back to home page">Back to the home page</a>
    </div>

{% endblock %}