@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

/* Logo styling */
nav .brand-logo {
    font-family: 'Lobster', cursive;
    color: #FF7DA1;
};


.pink-icon {
    color: #FF7DA1;
}