@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html{
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
}

/* ------NAVBAR------ */

/* Logo styling */
nav .brand-logo {
    font-family: 'Lobster', cursive;
    color: #FF7DA1!important;
    font-size: 2.5rem;
    margin-left: 2rem;
}

/* Navbar options styling */
.navbar-light .navbar-nav .nav-link {
    padding: 1rem 1.5rem!important;
    color: #E55019!important;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 1.5rem!important; 
}

/* Navbar toggler styling */
.navbar-toggler {
    border: none;
    color: #FF7DA1!important;
}



/* ------BUTTON STYLING------ */

.cancel-btn{
    color: #B4AE55!important;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    margin: 0 2rem 0 2rem;
}

.send-btn {
    
    font-weight: 600;
    background-color: #B4AE55!important;
    border-radius: 15px;
    border-style: none;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}

.submit-btn {
    font-weight: 600;
    background-color: #F38F38;
    border-radius: 10px;
    border-style: none;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}

.btn-space {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Logo styling */

/* ------FLASHES------ */
.flashes h4{
    line-height: 2;
}

/* Give posts rounded edges */ 
.card .card-img-top {
    border-radius: 1rem;
}


.card-top-space {
    margin-top: 7rem;
}


.solo-post-bg {
    background-color: #FCE2E9;
    position:fixed
    
}

/*.image-preview {
    height: 25vh;
}*/


