{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="card mx-auto mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ user.profile_img }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ username|capitalize }}'s Profile</h5>
                    <p class="card-text">{{ user.profile_bio }}</p>
                    </div>
                    <div class="row">
                        <a href="{{ url_for('edit_profile', username=session['user']) }}"  class="btn waves-effect waves-light" aria-label="cancel">Edit profile</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 class="text-center"><span>Your favourites</span></h4>
        </div>
    </div>

    
    {% if posts|length == 0 %}
        <div class="row">
            <div class="col text-center">
                <p>No posts yet!</p>
                <a href="{{ url_for('get_posts') }}">See what others have shared!</a>
            </div>
        </div>

        {% else %}
            <!-- Loop through all posts present in database and display -->
            <div class="container">
                <div class="row" data-masonry='{"percentPosition": true }'>

                    <!-- Loop through all posts present in database and display -->
                    {% for post in posts %}
                    <!-- Each card links to own page when clicked -->
                    <div class="col col-xl-3 col-lg-4 col-md-6">
                        <a href="{{ url_for('posts', post_id=post._id) }}">
                            <div class="card mx-auto my-2" style="width: 18rem;">
                                <img src="{{ post.image }}" class="card-img-top" alt="image of {{ post.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.post_caption }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
    {% endif %}


{% endblock %}