<!-- 'Copying' the base.html so it doesnt need to be written -->
{% extends "base.html" %} 

<!-- Keeping block element name the same so info goes to the same block -->
{% block content %}

    

    
   
    

    {% for posts in post %}
    <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="{{ post.image }}"  alt="">
              <span class="card-title">{{ posts.title }}</span>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
