<!-- 'Copying' the base.html so it doesnt need to be written -->
{% extends "base.html" %} 

<!-- Keeping block element name the same so info goes to the same block -->
{% block content %}

  <!-- Search bar -->
  <div class="container">
    <div class="row my-3">
      <form action="{{ url_for('search') }}" method="POST" class="col-12">
        <i class="fas fa-search prefix text-darken-4"></i>
        <label for="query">Search for posts</label>
        <input class="form-control rounded-pill" type="text" name="query" id="query" minlength="3"
          placeholder="" aria-label="default input example" required>
        <div class="row my-3 mx-auto">
          <!-- Button to reset search bar -->
          <div class="col mx-auto">
            <div class="text-center">
              <a href="{{ url_for('get_posts') }}" class="btn">Reset</a>
              <button class="search-btn" type="submit">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row green-row">
    <p><strong>Heres some green text</strong></p>
  </div>
  <!-- If the search find more than 0 posts display them -->
  {% if posts|length > 0 %}
  <div class="container">
    <div class="row" data-masonry='{"percentPosition": true }'>

      <!-- Loop through all posts present in database and display -->
      {% for posts in posts %}
      <!-- Each card links to own page if clicked -->
      <div class="col col-xl-3 col-lg-4 col-md-6 mb-2">
        <a href="{{ url_for('posts', post_id=posts._id) }}" class="card-styling text-decoration-none text-body">
          <div class="card border-0 mx-auto my-2" style="width: 18rem;">
            <img src="{{ posts.image }}" class="card-img-top" alt="image of {{ posts.title }}">
            <div class="card-body">
              <h5 class="text-underline card-title">{{ posts.title }}</h5>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %} 
  <div class="col s12 center-align">
    <p>Sorry, no posts found!</p>
    <a href="{{ url_for('get_posts') }}" class="waves-effect waves-light btn">Back to explore page</a>
  </div>
  {% endif %}

{% endblock %}

