<!-- 'Copying' the base.html so it doesnt need to be written -->
{% extends "base.html" %} 

<!-- Keeping block element name the same so info goes to the same block -->
{% block content %}

  <!-- Loop through all posts present in database and display -->
  <div class="container gallery">
    <div class="row card-margin">
      {% for posts in posts %}
      <div class="col m4 s12 ">
        <div class="card">
          <div class="card-image">
            <img src="{{ posts.image }}">
          </div>
          <div class="card-post-title">
            <span class="card-title-style">{{ posts.title }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
    

{% endblock %}
