{% extends "base.html" %}
{% block content %}

    <h2 class="text-center page-titles">Log In</h2>

    <div class="container">
        <div class="row">
            <form class="col col-md-6 col-lg-4;ut mx-auto" method="POST" action="{{ url_for('login' )}}">
                <div class="">
                    <!-- Username form field -->
                    <div class="row">
                        <div class="col mb-3">
                            <label for="username" class="form-label">First Name</label>
                            <input id="username" class="form-control" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        </div>
                    </div>
                    <!-- Password form field -->
                    <div class="row">
                        <div class="col mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input id="password" class="form-control" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        </div>
                    </div>
                    <!-- Form login button -->
                    <div class="row">
                        <div class="col mx">
                            <button type="submit" class="col-6 btn submit-btn">
                                Log In
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Link to direct user to register page -->
    <div class="row">
        <div class="col">
            <p class="text-center">
                New here?
                <a href="{{ url_for('register' )}}" class="light-blue-text text-darken-4">Create an account</a>
            </p>
        </div>
    </div>

{% endblock %}