{% extends "base.html" %}
{% block content %}


    <div class="row">
        <form class="col s12 m8 offset-m2">
            <div class="card-panel">
                <!-- Profile page welcome -->
                <h3 class="center-align light-bule-text text-dark-4">
                    {{ username|capitalize }}'s Profile
                </h3>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <h4 class="center-align"><span>Your posts</span></h4>
        </div>
    </div>

    {% if posts|length == 0 %}
        <div class="row">
            <div class="col s12 center-align">
                <p>No posts yet!</p>
                <a href="{{ url_for('get_posts') }}">See what others have shared!</a>

            </div>
        </div>

        {% else %}
            <!-- Loop through all posts present in database and display -->
            <div class="container">
                <div class="row" data-masonry='{"percentPosition": true }'>

                    <!-- Loop through all posts present in database and display -->
                    {% for post in posts %}
                    <!-- Each card links to own page when clicked -->
                    <div class="col col-xl-3 col-lg-4 col-md-6">
                        <a href="{{ url_for('posts', post_id=post._id) }}">
                            <div class="card mx-auto my-2" style="width: 18rem;">
                                <img src="{{ post.image }}" class="card-img-top" alt="image of {{ post.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.post_caption }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

        
            

    {% endif %}

    
    

{% endblock %}